
.metadata/.plugins/org.eclipse.m2e.core/nexus/03ef0a96b6ca253cf9c823808f701f34/segments.gen

*.index

*.zip

*.snap

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.resources

*.xmi

*.log

*.index

*.log

*.zip

*.txt
